<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle project</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>

    <script src="/leaflet/leaflet.js"></script>
</head>
<body>

    <p>
        <a href="#" onmousedown="gotolocation()">Go to location</a>
    </p>

    <div id="vmap"></div>

    <script src="/scripts/map.js"></script>
    <script src="/scripts/view_actions.js"></script>

    <script>
        setInterval(() => updatethething('<%- vehicle_id %>'), 3000);
    </script>

</body>
</html>
