<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle project</title>

    <link rel="stylesheet" href="/css/vmap.css"/>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/leafletcluster/MarkerCluster.css"/>
    <link rel="stylesheet" href="/leafletcluster/MarkerCluster.Default.css"/>

    <script src="/leaflet/leaflet.js"></script>
    <script src="/leafletrotated/leaflet.rotatedMarker.js"></script>
    <script src="/leafletcluster/leaflet.markercluster.js"></script>
</head>
<body>

    <div class="nav">
        <p>
            <a href="#" onmousedown="UserActions.resetMap()">Reset map</a>
            |
            <a href="#" onmousedown="UserActions.resetLocations()">Reset locations</a>
        </p>
    </div>

    <div id="vmap"></div>

    <script>
        // globally accessible leaflet map on the view
        const vmap = L.map('vmap').setView([52.53, 13.403], 13);
    </script>

    <script src="/scripts/user_actions.js"></script>
    <script src="/scripts/map_view.js"></script>
    <script src="/scripts/routes_view.js"></script>

    <script>
        MapView.initialize();

        // update map each second
        setInterval(RoutesView.updateData, 1000);
    </script>

</body>
</html>
